.lending-card {
  height: 20rem;
  .supply-button {
    margin-top: 2rem;
  }

  .dai {
    height: 5rem;
    position: relative;
    top: -1.8rem;
    left: -3rem;
  }
}

.rewards-section {

  margin-bottom: 3rem;

  .rewards-card {
    padding-top: 1rem;
    .dai {
      height: 2rem;
      position: relative;
      top: 0rem;
      left: 0.7rem;
    }
  }
}
