.borrowing-account-link {
  .loggedIn {
    &.boa {
      height: 5rem;
      position: relative;
      top: 2rem;
      left: 1rem;
    }
  }

  .bank-loggedin-card {
    width: 10rem;
    margin-top: 2rem;
  }
}
