.loan-create-card {
  height: 42rem;
  .supply-button {
    margin-top: 1rem;
  }

  .eth {
    height: 2rem;
    position: relative;
    top: -0.1rem;
    left: 1rem;
  }

  .dai {
    height: 3rem;
    position: relative;
    top: -0.7rem;
  }

  .plus {
    position: relative;
  }

  .minus {
    position: relative;
  }

  .collateral-btn {
    width: 4rem;
  }

  .amount {
    width: 70%;
    margin-left: 2rem;
  }
}
